/* Icon GYL
------------------------------------- */ 
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/gyl/icomoon.eot?murmww');
  src:  url('../fonts/gyl/icomoon.eot?murmww#iefix') format('embedded-opentype'),
    url('../fonts/gyl/icomoon.ttf?murmww') format('truetype'),
    url('../fonts/gyl/icomoon.woff?murmww') format('woff'),
    url('../fonts/gyl/icomoon.svg?murmww#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icn-gyl {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-icn-check::before {
  content: "\e900";
}
/* End */